
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.85),rgba(0,0,0,0.85)),url("image/vasily-koloda-8CqDvPuo_kI-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about .content{
    flex:1 1 40rem;
}

.about .content h3{
    font-size: 3.5rem;
    color:#0070fa;
    align-items: center;
    padding: 1rem 0;
}

.about .content p{
    font-size: 1.5rem;
    color:#fff;
    padding:3rem 0;
}
.btn{
    padding:.7rem 3rem;
    font-size: 2rem;
    color:#fff;
    background:var(--gradient);
    background-color: #f39c12;
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top:-1rem; left:-100%;
    background:#fff9;
    height:150%;
    width:20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before{
    transition: .3s linear;
    left: 120%;
}
